
.content {
  img:not(img.icon) {
    //height: 50%;
    //width: 50%;
    max-width: 50%;
    max-height: 50%;
    margin: 0 auto;
    display: block; 
    padding: 1em;
    box-sizing: border-box;
  }
}
