$header-height: 90px;
$breadcrumb-height: 20px;
$nav-height: 60px;
$footer-copyright: 12px;

// $background-color: #7474ac69;
$header-color: #373770;
$header-secondary-color: #7f7fa3;
$breadcrumb-color: "#373770a3";
// $content-color: #eae9e9;
$content-color: #f7f7f7b2;
$navigation-color: #464545;


$accent-color: rgb(92, 92, 184);
$dark-accent-color: rgb(55, 55, 112);
$darker-accent-color: rgb(32, 32, 63);

// sub menu link
$link-color: #eae9e9;
$content-link-color: #464545;
$contact-color: #dbd9d9;


$logo_color: #d4d9f2ff;
$logo_color_sec: white;
$logo_color_ter: #aaeeffff;

$shadow: 0px 24px 38px 3px rgba(0,0,0,0.14) , 0px 9px 46px 8px rgba(0,0,0,0.12) , 0px 11px 15px -7px rgba(0,0,0,0.2);